/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=auto");

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6528D7;
  --ifm-color-primary-dark: #6528D7;
  --ifm-color-primary-darker: #6528D7;
  --ifm-color-primary-darkest: #6528D7;
  --ifm-color-primary-light: #6528D7;
  --ifm-color-primary-lighter: #6528D7;
  --ifm-color-primary-lightest: #6528D7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-heading-font-family: "Sora";
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #bcf124;
  --ifm-color-primary-dark: #bcf124;
  --ifm-color-primary-darker: #bcf124;
  --ifm-color-primary-darkest: #bcf124;
  --ifm-color-primary-light: #bcf124;
  --ifm-color-primary-lighter: #bcf124;
  --ifm-color-primary-lightest: #bcf124;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --docsearch-hit-active-color: black !important;
}

iframe {
  margin: 1rem;
  width: calc(100% - 2rem);
  height: 25rem;
}

.navbar__logo {
  fill: var(--ifm-color-primary);
}