/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=auto");

:root {
  --light-gray: #d3cbe1;
  --dark-gray: #202932;
  --ifm-color-primary: #bcf124;
  --ifm-color-content: white;
  --ifm-heading-font-family: "Sora";
}

.markdown {
  p {
    color: var(--light-gray);
  }
  
  strong {
    color: white;
  }
  
  iframe {
    margin: 1rem;
    width: calc(100% - 2rem);
    height: 25rem;
  }
  
  h1 {
    font-weight: 300;
  }
}

.prism-code {
  border: solid 1px hsla(0, 0%, 100%, 0.1);
}